# 번개장터 데이터 전처리

In [2]:
import pandas as pd

In [4]:
original_path = "C:\Potenup\SecondHanded-Strollers-PredictedPrice\data\\raw\\bungaejangter.csv"
csv_path = "C:\Potenup\SecondHanded-Strollers-PredictedPrice\data\\preprocessed\\bungaejangter.csv"

## csv 데이터 확인

In [3]:
df = pd.read_csv(original_path, encoding="utf-8", engine="python", on_bad_lines="warn")

In [4]:
df.head(1)

,keyword,is_completed,uploaded_date,link,location,id,title,detail,condition,price,images_url
0,유모차 스토케,False,2025-08-20 07:43:46.595629,https://m.bunjang.co.kr/products/330635984?q=%...,서울특별시 용산구 한강로동,356fcf58-2382-46c5-b404-397e30c5e2a5,스토케 트레일즈 유모차,출고가 150만원 이었습니다\n사진 그대로 구매시 30만원\n겨울용 패딩시트 제외시...,사용감 적음,200000.0,['https://media.bunjang.co.kr/product/33063598...

In [5]:
df.shape

(148, 11)

## 관계 없는 데이터 삭제

In [ ]:
# 부가부 데이터 삭제
df = df[~df['title'].str.contains("부가부", na=False)].reset_index(drop=True)

In [13]:
# 유모차가 아닌경우
df = df[~df['title'].str.contains("방한커버", na=False)].reset_index(drop=True)
df = df[~df['title'].str.contains("방수커버", na=False)].reset_index(drop=True)

In [ ]:
# 유모차가 없는 경우 확인
df_filtered = df[~df['title'].str.contains('유모차', na=False)]
df_filtered['title']

124                 스토케 풋머프
134    스토케 익스플로리 엑스 시그니처 블랙
139         스토케 파라솔 마지막 1개
140      스토케 익스플로리 v6 판매합니다
Name: title, dtype: object

In [ ]:
# 유모차 데이터가 아닌 케이스
df = df.drop([124, 139])

134    스토케 익스플로리 엑스 시그니처 블랙
140      스토케 익스플로리 v6 판매합니다
Name: title, dtype: object

In [ ]:
df.to_csv(csv_path, index=0)

## 모델명 추출

In [ ]:
import pandas as pd
df = pd.read_csv(csv_path, encoding="utf-8", engine="python", on_bad_lines="warn")
origin_df = df.copy()

In [18]:
yoyo_pattern = "요요|yoyo"
has_yoyo = df['title'].str.contains(yoyo_pattern, na=False, case=False) | df['detail'].str.contains(yoyo_pattern, na=False, case=False)

explori_pattern = "익스플로리|xplory"
has_explori = df['title'].str.contains(explori_pattern, na=False, case=False) | df['detail'].str.contains(explori_pattern, na=False, case=False)

trailz_pattern = "트레일즈|trailz"
has_trailz = df['title'].str.contains(trailz_pattern, na=False, case=False) | df['detail'].str.contains(trailz_pattern, na=False, case=False)

beat_pattern = "비트|beat"
has_beat = df['title'].str.contains(beat_pattern, na=False, case=False) | df['detail'].str.contains(beat_pattern, na=False, case=False)

crusi_pattern = '크루시|crusi'
has_crusi = df['title'].str.contains(crusi_pattern, na=False, case=False) | df['detail'].str.contains(crusi_pattern, na=False, case=False)

scoot_pattern = '스쿠트|scoot'
has_scoot = df['title'].str.contains(scoot_pattern, na=False, case=False) | df['detail'].str.contains(scoot_pattern, na=False, case=False)

In [19]:
df[has_yoyo | has_trailz | has_explori | has_beat | has_crusi | has_scoot].count()

keyword          36
is_completed     36
uploaded_date    36
link             36
location         27
id               36
title            36
detail           36
condition        36
price            36
images_url       36
model            34
dtype: int64

In [16]:
df['model'].value_counts()

model
익스플로리    27
요요        4
트레일즈      3
Name: count, dtype: int64

In [20]:
delux_pattern = '디럭스|delux'
has_delux = df['title'].str.contains(delux_pattern, na=False, case=False) | df['detail'].str.contains(delux_pattern, na=False, case=False)

basic_pattern = '절충형'
has_basic = df['title'].str.contains(basic_pattern, na=False, case=False) | df['detail'].str.contains(basic_pattern, na=False, case=False)

In [21]:
df[has_delux | has_basic].count()

keyword          88
is_completed     88
uploaded_date    88
link             88
location         65
id               88
title            88
detail           88
condition        88
price            88
images_url       88
model             9
dtype: int64

# 결론

광고 및 이상 데이터 제거하니 총 131개가 나옴

모델이 특정되는 데이터는 총 24개

In [11]:
df = pd.read_csv(csv_path)
df.head(1)

,keyword,is_completed,uploaded_date,link,location,id,title,detail,condition,price,images_url,model
0,유모차 스토케,False,2025-08-20 07:43:46.595629,https://m.bunjang.co.kr/products/330635984?q=%...,서울특별시 용산구 한강로동,356fcf58-2382-46c5-b404-397e30c5e2a5,스토케 트레일즈 유모차,출고가 150만원 이었습니다\n사진 그대로 구매시 30만원\n겨울용 패딩시트 제외시...,사용감 적음,200000.0,['https://media.bunjang.co.kr/product/33063598...,트레일즈